div.mcc-selection{
    padding: 15px 0px;
}

p.mcc-account{
    height: 55px;
    padding: 20px;
}

p.mcc-account:hover{
    background-color: rgb(194, 189, 189, 0.4);
}

p.mcc-account a,
p.mcc-account a:hover{
    text-decoration: none;
    color: #333;
}